@inherits QuizzBase
<h3>Bonjour @User,  @infoPos </h3>

<p>@currentQuestion</p>
<button disabled="@IsDisabled" @onclick='()=>Answer("oui")'>Oui</button>
<button disabled="@IsDisabled" @onclick='()=>Answer("non")'>Non</button>

 
